<form method="POST" action="/task/add">
    <label>Add Task</label>
    <input type="text" name="task" placeholder="add task here">
    <input type="submit" value="Submit">
</form>
<%= title %>

<ul>
    <% tasks.forEach(task => { %>
        <li><%= task%></li>
    <% }) %>
</ul>